<div class="row">
    <div class="col-md-7 col-md-offset-3">
           <h1>About</h1>
           </br>
           </br>
           <p class="lead">My name is <b>Jevon</b>. I am an aspiring <b>Ruby on Rails Full Stack Web Developer</b> and I enjoy staying in shape. I began to lift weights because unlike most people, I was extremely underweight. That lead me to take a weight training class in college, to try to see if I could find a way to gain weight. I have been skinny all of my life. Standing at 6'2 I was very skinny to be honest.</p>
           <p class="lead">Well anyways while in the class I learned about the <em>Brzycki formula</em>. Around that same time I was taking advanced visual basic and I had to come up with an application for my final exam. Over the semester I had begun to put on weight due to eating right and lifting heavy. So I had the thought of placing the Brzycki formula into an app for my final exam.</p>
           <p class="lead">I did that and got a good grade on the final. So then I thought I should make a website to help others who need to learn how much they should be lifting and to also help people safely determine their one rep max. With that desire <b>GetMyOneRepMax.com</b> was born. I hope this website will help you reach what ever your health goals are. Please share with a friend, good luck and God bless.</p>
   </div><!--end of 1st col-->
</div>