<gitsection>
<div class="row" id="top-main">
  <div class="col-md-6">
      <h1 class="text-center">ONE REP MAX</h1>
      <h2 class="text-center" id="title-subtext">Calculator</h2>
      <%= image_tag("home1.png", :alt => "main picture", class:"img-responsive, center-block") %>
      
  </div>
  
  <div class="col-md-6">
      <form  id="FormID">
					
		    <div class="form-group">
			<label for="exercise">Exercise:</label>
			<input type="text" class="form-control" size="15px x 34px"id="exercise" name="exercise" size=""placeholder="Enter Exercise">
		  </div>
		  
		  <div class="form-group">
			<label for="weight">Weight Used:</label>
			<input type="text" class="form-control" size="7px x 34px"id="weight" name="weight" size=""placeholder="Weight">
		  </div>
		  
		  <div class="form-group">
			<label for="Reps Performed">Reps:</label>
			<input type="text" class="form-control" size="7px x 34px" id="reps" name="reps" placeholder="Reps">
		  </div>
		  
		  <div id="box1" class="form-group">
		     <h4 class="boxes">Your <em>"One Rep Max"</em></h4>
			 <h3 id="onerepmax" name="onerepmax">0</h3>
		  </div>
						  
		  <button type="text" class="btn btn-default btn-primary" size="7px x 34px" id="submit">One Rep Max</button>
		  
	  </form>
  </div>
  
  
  </div>   
</section>
 