<section>
<div class="row" id="top-main">
  <div class="col-md-6"><h1>ONE REP MAX CALCULATOR</h1></h1></div>
  
  
  
  
  
  
  
  
  <div class="col-md-6"><h1>HOME RIGHT</h1></div>
</div>   
</section>
 