<section>
<div class="row" id="top-main">
  <div class="col-md-6">
      <h1 class="text-center">ONE REP MAX</h1>
      <h2 class="text-center" id="title-subtext">Calculator</h2>
      <%= image_tag("home1.png", :alt => "main picture", class:"img-responsive, center-block") %>
      
  </div>
  
  <div class="col-md-6">#</div>
  </div>   
</section>
 