@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

#top-main{
     
    height:auto;
     
    background-image: url(asset-path('bgpaper.gif')); 
    
    h1 {
        font-family: 'Droid Sans', sans-serif;
        font-weight:700;
        margin-bottom:0px;
        margin-top:50px;
        font-size:420%;
        text-shadow: 2px 2px 7px #000;
    }
    
    h2 {
        font-family: 'Dancing Script', cursive;
        font-weight:700;
        margin-top:0px;
        font-size:450%;
    }
    
    h3 {
        font-size:200%;
    }
    
    h4 {
        font-family: 'Droid Sans', sans-serif; 
        }
    
    #FormID{
        margin-top:30px;
        font-size:150%;
    }
}

 //body {
    // background-image: url(asset-path('bgpaper.gif'));
 //}
 
#main-bottom {
    
height:auto;
background-color:#fff;
        
} 

.instructions {
    margin-top:65px;
}
 